* {
  font-family: Poppins;
}
* body {
  margin: 0px;
}

#sidebar {
  font-family: Poppins;
  background-color: black;
  color: white;
  width: 15%;
  font-size: large;
}
#sidebar ul {
  list-style: none;
  flex-flow: column wrap;
}
#sidebar ul a {
  text-decoration: none;
  color: white;
}
#sidebar ul a:hover {
  text-decoration: underline;
}
#sidebar ul li {
  padding: 3%;
}

#adminContent {
  background-color: #e9ecef;
}
#adminContent #titleAdmin {
  border-bottom: 2px solid black;
  font-weight: lighter;
}
#adminContent #bodyList {
  border-top: 0px;
}
#adminContent .list {
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border-top: 2px solid black;
}
#adminContent .list div {
  text-align: center;
}
#adminContent .list div input {
  transform: scale(2);
  accent-color: #a1a1a1;
}

#header {
  background-color: black;
}
#header ul {
  display: grid;
  grid-template-columns: repeat(7, 14.28%);
  list-style: none;
  margin: 0px;
}
#header ul a {
  text-decoration: none;
  color: white;
}
#header ul a:hover {
  text-decoration: underline;
}
#header ul li:first-child img {
  width: 40%;
}
#header ul li img {
  width: 20%;
}

#outstanding {
  display: flex;
  background-image: url("../sources/web/salonIndex.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 15vh;
}
#outstanding #carousel {
  width: 50%;
  overflow: hidden;
}
#outstanding #carousel img {
  width: 40%;
  height: auto;
  margin: 5% auto;
  border-radius: 10px;
}
#outstanding #outstandingProducts {
  width: 50%;
}
#outstanding #outstandingProducts #outstandingList {
  width: 60%;
  background-color: black;
  padding: 2%;
  margin: 5% auto;
  overflow: scroll;
  height: 70%;
  overflow-x: hidden;
  border-radius: 5px;
}
#outstanding #outstandingProducts #outstandingList a {
  text-decoration: none;
  color: black;
}
#outstanding #outstandingProducts #outstandingList a .outstandingProduct {
  display: flex;
  border-radius: 5px;
  background-color: white;
  padding: 2%;
  margin-bottom: 2%;
}
#outstanding #outstandingProducts #outstandingList a .outstandingProduct img {
  width: 25%;
  border-radius: 5px;
  margin-right: 3%;
}
#outstanding #outstandingProducts #outstandingList a .outstandingProduct #outstandingAttributes button {
  background-color: black;
  color: white;
  border-radius: 5px;
}

#section2 {
  margin: 9vh 5vh 0px 5vh;
  display: flex;
  flex-direction: row;
}
#section2 #coming_soon {
  margin-left: 15vw;
}

#productsView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
#productsView .productContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#productsView .productContainer .imageContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 15px 15px 5px 15px;
}
#productsView .productContainer .imageContainer .productImage {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  border-radius: 2%;
}
#productsView .productContainer .iconContainer {
  position: absolute;
  top: 9%;
  right: 15%;
  z-index: 1;
  transition: box-shadow 0.3s, opacity 0.3s;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}
#productsView .productContainer .iconContainer:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#productsView .productContainer .iconContainer .productIcon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 5px;
}
#productsView .productContainer:hover .iconContainer {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#productsView .productContainer .productInfo h3 {
  margin: 0px 0px 0px 15px;
}
#productsView .productContainer .productInfo h4 {
  margin: 0px 0px 0px 15px;
  font-weight: normal;
}

#containerCategories {
  display: flex;
  justify-content: center;
}
#containerCategories #categoriesCenter {
  width: 90%;
}
#containerCategories #categoriesCenter #titleCategory {
  display: grid;
  justify-content: center;
  font-size: 40px;
  font-weight: 400;
}
#containerCategories #categoriesCenter h2 {
  font-size: 28px;
}
#containerCategories #categoriesCenter .productsByCategory {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
#containerCategories #categoriesCenter .productsByCategory .productsIMG {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 217, 255);
  height: 270px;
  border: 1px solid black;
}

#buyProduct {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
#buyProduct #productContainer {
  position: relative;
  z-index: 1;
}
#buyProduct #productContainer #productImage {
  height: 430px;
  width: 310px;
  margin: 90px 0px 50px 450px;
}
#buyProduct #productContainer #productDetails {
  background-color: whitesmoke;
  position: absolute;
  display: flex;
  top: 10%;
  left: 53%;
  width: 25%;
  height: 90%;
  background-color: rgb(230, 230, 230);
  z-index: 3;
  border-radius: 10px;
}
#buyProduct #productContainer #productDetails #productInfo {
  margin: 10px 50px 50px 50px;
}
#buyProduct #productContainer #productDetails #productInfo #buttons {
  display: flex;
  gap: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #buttons #purchaseProduct {
  background-color: black;
  color: white;
  height: 50px;
  margin-top: 3px;
  padding: 0px 70px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #buttons #purchaseProduct:hover {
  transform: scale(1.1);
}
#buyProduct #productContainer #productDetails #productInfo #buttons #iconContainer {
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
  padding: 14px;
  border-radius: 50%;
}
#buyProduct #productContainer #productDetails #productInfo #buttons #iconContainer #productIcon {
  display: block;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 1px;
}
#buyProduct #productContainer #productDetails #productInfo #buttons #iconContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#buyProduct #productContainer #productDetails #productInfo #menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -400px;
  height: 100%;
  width: 400px;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer {
  display: block;
  padding: 40px;
  max-height: 80vh;
  overflow-y: auto;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer .headerDrawer .closeDrawer {
  align-self: flex-end;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer .headerDrawer .closeDrawer:hover {
  background-color: #eee;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption1 #drawerInfo1 .drawer-element {
  margin: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption1 #drawerInfo1 .drawer-element .drawer-element-title {
  font-weight: bold;
  font-size: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 #drawerInfo2 .drawer-element {
  margin: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 #drawerInfo2 .drawer-element .drawer-element-title {
  font-weight: bold;
  font-size: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 #drawerInfo3 .drawer-element {
  margin: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 #drawerInfo3 .drawer-element .drawer-element-title {
  font-weight: bold;
  font-size: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #drawerOptions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
}
#buyProduct #productContainer #productDetails #productInfo #drawerOptions .openDrawer {
  padding: 15px 100px;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #drawerOptions .openDrawer:hover {
  transform: scale(1.1);
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}/*# sourceMappingURL=styles.css.map */