@charset "UTF-8";
* {
  font-family: Poppins;
}
* body {
  margin: 0px;
}
* body::-webkit-scrollbar {
  width: 6px;
}
* body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
* body::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  height: 100%;
}

#containerAdmin {
  display: flex;
}
#containerAdmin #sidebar {
  font-family: Poppins;
  background-color: black;
  color: white;
  width: 15%;
  font-size: large;
  height: 100vh;
  position: fixed;
}
#containerAdmin #sidebar ul {
  list-style: none;
  flex-flow: column wrap;
}
#containerAdmin #sidebar ul a {
  text-decoration: none;
  color: white;
}
#containerAdmin #sidebar ul a:hover {
  text-decoration: underline;
}
#containerAdmin #sidebar ul li {
  padding: 3%;
}
#containerAdmin #invisibleSidebar {
  width: 15%;
}
#containerAdmin #adminContent {
  width: 85%;
  padding: 2%;
  background-color: #e9ecef;
  height: 100%;
  display: grid;
}
#containerAdmin #adminContent #titleAdmin {
  border-bottom: 2px solid black;
  font-weight: normal;
  font-size: 40px;
}
#containerAdmin #adminContent a {
  width: 120px;
}
#containerAdmin #adminContent a button {
  color: white;
  background-color: #292929;
  margin-bottom: 2%;
}
#containerAdmin #adminContent #search {
  margin-bottom: 2%;
}
#containerAdmin #adminContent button {
  color: white;
  background-color: #292929;
  margin-bottom: 2%;
}
#containerAdmin #adminContent #changeActive {
  margin-top: 2%;
  color: white;
  background-color: #292929;
}
#containerAdmin #adminContent #bodyList {
  border-top: 0px;
}
#containerAdmin #adminContent .list {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  border-top: 2px solid black;
  min-height: 50px;
  align-content: center;
}
#containerAdmin #adminContent .list div {
  text-align: center;
}
#containerAdmin #adminContent .list div input {
  transform: scale(2);
  accent-color: #a1a1a1;
}

#description {
  display: block;
  margin-top: 5px; /* Espacio entre la etiqueta y el textarea */
}

#signatureCanvas {
  background-color: white;
}

.listUser {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30%);
  border-top: 2px solid black;
  min-height: 50px;
  align-content: center;
}
.listUser div {
  display: grid;
  place-items: center;
  text-align: center;
}
.listUser div input {
  transform: scale(2);
  accent-color: #a1a1a1;
}

.fullScreen {
  height: 95vh;
  background-color: #e9ecef;
}

#header {
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
}
#header #tamañoHeader {
  width: 90%;
}
#header #tamañoHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 22.88% 24.28% 5% 5%;
  align-items: center;
}
#header #tamañoHeader ul a {
  text-decoration: none;
}
#header #tamañoHeader ul a #logoPhoto {
  width: 66px;
  height: 66px;
  max-height: 66px;
  max-width: 66px;
}
#header #tamañoHeader ul a img {
  max-height: 30px;
  max-width: 30px;
}
#header #tamañoHeader ul .marginHeader {
  margin: 0;
}
#header #tamañoHeader ul li {
  margin: 0 50px;
  color: white;
}
#header #tamañoHeader ul li a {
  text-decoration: none;
  color: white;
}
#header #tamañoHeader ul li .dropdown-content {
  display: none;
}
#header #tamañoHeader ul .dropdown:hover .dropdown-content {
  display: block;
  list-style: none;
  position: absolute;
  background-color: black;
  z-index: 1;
}
#header #tamañoHeader ul .dropdown:hover .dropdown-content li {
  padding: 4%;
}
#header #tamañoHeader ul img {
  max-height: 30px;
  max-width: 30px;
}
#header #tamañoHeader ul input {
  margin: 0 0px;
  padding: 5px 50px;
}

#outstanding {
  display: flex;
  background-image: url("../sources/web/salonIndex.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
#outstanding #carousel {
  width: 50%;
  overflow: hidden;
}
#outstanding #carousel img {
  width: 38%;
  height: auto;
  margin: 4% auto;
  margin-left: 50%;
  border-radius: 10px;
}
#outstanding #outstandingProducts {
  width: 50%;
}
#outstanding #outstandingProducts #outstandingList {
  width: 60%;
  background-color: #c7bfbf;
  padding: 2%;
  margin: 4% auto;
  overflow-y: auto;
  height: 53%;
  overflow-x: hidden;
  border-radius: 5px;
}
#outstanding #outstandingProducts #outstandingList::-webkit-scrollbar {
  width: 6px;
}
#outstanding #outstandingProducts #outstandingList::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
#outstanding #outstandingProducts #outstandingList::-webkit-scrollbar-track {
  background-color: transparent;
}
#outstanding #outstandingProducts #outstandingList a {
  text-decoration: none;
  color: black;
}
#outstanding #outstandingProducts #outstandingList a .outstandingProduct {
  display: flex;
  border-radius: 5px;
  background-color: white;
  padding: 2%;
  margin-bottom: 2%;
}
#outstanding #outstandingProducts #outstandingList a .outstandingProduct img {
  width: 25%;
  border-radius: 5px;
  margin-right: 3%;
}
#outstanding #outstandingProducts #outstandingList a .outstandingProduct #outstandingAttributes button {
  background-color: black;
  color: white;
  border-radius: 5px;
}

#section2 {
  margin: 9vh 5vh 0px 5vh;
  display: flex;
  flex-direction: row;
}
#section2 #coming_soon {
  margin-left: 10%;
}

#productsView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
#productsView .productContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#productsView .productContainer .imageContainer {
  height: 266px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 15px 15px 5px 15px;
}
#productsView .productContainer .imageContainer .productImage {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  border-radius: 2%;
}
#productsView .productContainer .iconContainer {
  position: absolute;
  top: 9%;
  right: 15%;
  z-index: 1;
  transition: box-shadow 0.3s, opacity 0.3s;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}
#productsView .productContainer .iconContainer:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#productsView .productContainer .iconContainer .productIcon {
  display: block;
  width: 24px;
  height: 24px;
  padding: 5px;
}
#productsView .productContainer:hover .iconContainer {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#productsView .productContainer .productInfo h3 {
  margin: 0px 0px 0px 15px;
}
#productsView .productContainer .productInfo h4 {
  margin: 0px 0px 0px 15px;
  font-weight: normal;
}

#containerCategories {
  display: flex;
  justify-content: center;
}
#containerCategories #categoriesCenter {
  width: 90%;
}
#containerCategories #categoriesCenter #titleCategory {
  display: grid;
  justify-content: center;
  font-size: 40px;
  font-weight: 400;
}
#containerCategories #categoriesCenter h2 {
  font-size: 28px;
}
#containerCategories #categoriesCenter .productsByCategory {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
#containerCategories #categoriesCenter .productsByCategory .productsIMG {
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 360px;
}
#containerCategories #categoriesCenter .productsByCategory .productsIMG img {
  width: 100%;
  max-height: 360px;
}
#containerCategories #categoriesCenter .productsByCategory .seeMoreProducts {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  max-width: 247px;
  font-weight: 200;
  font-size: 20px;
  text-decoration-line: underline;
}
#containerCategories #categoriesCenter .productsByCategory .seeMoreProducts a {
  text-decoration: none; /* Quita el subrayado */
  color: black;
  font-weight: 200px;
}

#buyProduct {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
#buyProduct #productContainer {
  position: relative;
  z-index: 1;
}
#buyProduct #productContainer #productImage {
  height: 430px;
  width: 310px;
  margin: 90px 0px 50px 450px;
  transition: transform 0.3s ease;
}
#buyProduct #productContainer #productImage:hover {
  transform: scale(1.3);
}
#buyProduct #productContainer #productDetails {
  position: absolute;
  display: flex;
  top: 10%;
  left: 53%;
  width: 25%;
  height: 90%;
  background-color: rgb(217, 217, 217);
  z-index: 3;
  border-radius: 10px;
  border: 1px solid grey;
}
#buyProduct #productContainer #productDetails #productInfo {
  margin: 10px 50px 50px 50px;
}
#buyProduct #productContainer #productDetails #productInfo #productAmount {
  display: flex;
  align-items: center;
}
#buyProduct #productContainer #productDetails #productInfo #productAmount .amount-btn {
  margin: 5px 5px 10px 5px;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  transition: transform 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #productAmount .amount-btn:hover {
  transform: scale(1.1);
}
#buyProduct #productContainer #productDetails #productInfo #productAmount input {
  width: 8.15rem;
  text-align: center;
  border: none;
  padding: 8px;
  outline: none;
  background-color: whitesmoke;
}
#buyProduct #productContainer #productDetails #productInfo #buttons {
  display: flex;
  gap: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #buttons a #purchaseProduct {
  background-color: black;
  color: white;
  height: 50px;
  margin-top: 3px;
  padding: 0px 70px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #buttons a #purchaseProduct:hover {
  transform: scale(1.1);
}
#buyProduct #productContainer #productDetails #productInfo #buttons a #iconContainer {
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
  padding: 14px;
  border-radius: 50%;
}
#buyProduct #productContainer #productDetails #productInfo #buttons a #iconContainer #productIcon {
  display: block;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 1px;
}
#buyProduct #productContainer #productDetails #productInfo #buttons a #iconContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#buyProduct #productContainer #productDetails #productInfo #menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -400px;
  height: 100%;
  width: 400px;
  background-color: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer {
  display: block;
  padding: 40px;
  max-height: 80vh;
  overflow-y: auto;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer::-webkit-scrollbar {
  width: 0px;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer .headerDrawer .closeDrawer {
  align-self: flex-end;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
#buyProduct #productContainer #productDetails #productInfo #menu .drawer .headerDrawer .closeDrawer:hover {
  background-color: #eee;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption1 #drawerInfo1 .drawer-element {
  margin: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption1 #drawerInfo1 .drawer-element .drawer-element-title {
  font-weight: bold;
  font-size: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 ::-webkit-scrollbar {
  width: 0;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 #drawerInfo2 .drawer-element {
  margin: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 #drawerInfo2 .drawer-element .drawer-element-title {
  font-weight: bold;
  font-size: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 ::-webkit-scrollbar {
  width: 0;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 #drawerInfo3 .drawer-element {
  margin: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 #drawerInfo3 .drawer-element .drawer-element-title {
  font-weight: bold;
  font-size: 20px;
}
#buyProduct #productContainer #productDetails #productInfo #drawerOptions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
}
#buyProduct #productContainer #productDetails #productInfo #drawerOptions .openDrawer {
  padding: 15px 100px;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#buyProduct #productContainer #productDetails #productInfo #drawerOptions .openDrawer:hover {
  transform: scale(1.1);
}

#ls_container {
  display: flex;
}
#ls_container #background_ls {
  width: 70%;
  height: 100vh;
  background-image: url("../sources/web/login_signup.jpg");
}
#ls_container #background_ls img {
  width: 22%;
}
#ls_container #login_signup {
  width: 30%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ls_container #login_signup form {
  text-align: center;
}
#ls_container #login_signup form input {
  border-radius: 5px;
  border: 0px;
  background-color: #D5D5D5;
  margin-bottom: 4%;
}
#ls_container #login_signup form input[type=submit] {
  background-color: black;
  color: white;
  margin-bottom: 0%;
  padding: 3%;
}
#ls_container #login_signup form .invalid {
  border: 2px solid red;
}
#ls_container #login_signup form p a {
  text-decoration: none;
  color: black;
}
#ls_container #login_signup form p a:hover {
  text-decoration: underline;
}

.principalContainerWhats {
  display: flex;
  justify-content: center;
}
.principalContainerWhats .ContainerWhats {
  width: 90%;
  margin-top: 50px;
}
.principalContainerWhats .ContainerWhats h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 72px */
  margin-bottom: 50px;
}
.principalContainerWhats .ContainerWhats .infoWhats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.principalContainerWhats .ContainerWhats .infoWhats img {
  width: 100%;
}
.principalContainerWhats .ContainerWhats .infoWhats p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.principalContainerWhats .ContainerWhats #tittle2Whats {
  margin-top: 80px;
  display: grid;
  justify-content: end;
}
.principalContainerWhats .ContainerWhats .findPlate {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.principalContainerWhats .ContainerWhats .findPlate div {
  margin-bottom: 10%;
  width: 80%;
}
.principalContainerWhats .ContainerWhats .findPlate div img {
  width: 100%;
}
.principalContainerWhats .ContainerWhats .findPlate .seeMoreProducts {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  font-weight: 200;
  font-size: 20px;
  text-decoration-line: underline;
}
.principalContainerWhats .ContainerWhats .findPlate .seeMoreProducts a {
  text-decoration: none; /* Quita el subrayado */
  color: black;
  font-weight: 200px;
}

#AdminLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
}
#AdminLogin div {
  background-color: black;
  width: 15%;
  text-align: center;
}
#AdminLogin div img {
  width: 60%;
  padding-top: 5%;
}
#AdminLogin div h1 {
  color: white;
}
#AdminLogin div hr {
  color: white;
  width: 72%;
  margin-bottom: 15%;
}
#AdminLogin div form input {
  margin-bottom: 10%;
}

#hottestPicks {
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 4%;
}
#hottestPicks h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 3%;
}
#hottestPicks a {
  color: black;
}
#hottestPicks .productContainer {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
#hottestPicks .productContainer div {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#hottestPicks .productContainer div .productImage {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  border-radius: 2%;
}
#hottestPicks p {
  font-weight: 200;
  font-size: 20px;
}

#containerTicket {
  width: 45%;
  height: 100vh;
  background-color: lightblue;
  margin: 0 auto;
  padding: 1% 3%;
}
#containerTicket #headerTicket {
  display: flex;
}
#containerTicket #headerTicket #headerLeft {
  width: 50%;
}
#containerTicket #headerTicket #headerRigth {
  width: 50%;
}
#containerTicket #contentTicket #infoClient {
  display: flex;
}
#containerTicket #contentTicket #infoClient div {
  width: 50%;
}
#containerTicket #contentTicket #prices #headerPrices {
  display: flex;
  font-weight: bold;
}
#containerTicket #contentTicket #prices #headerPrices div {
  padding: 1%;
  width: 25%;
}
#containerTicket #contentTicket #prices .contentPrices {
  display: flex;
}
#containerTicket #contentTicket #prices .contentPrices div {
  padding: 1%;
  width: 25%;
}
#containerTicket #contentTicket #prices #footerPrices {
  display: flex;
}
#containerTicket #contentTicket #prices #footerPrices div:first-child {
  width: 75%;
}
#containerTicket #contentTicket #prices #footerPrices div {
  padding: 1%;
  width: 25%;
  border-top: 1px solid black;
}
#containerTicket #contentTicket #sign {
  font-weight: bold;
}
#containerTicket #footerTicket button {
  background-color: black;
  color: white;
}

#adminContent .titleStadistics {
  display: grid;
  grid-template-columns: 50% 50%;
}
#adminContent .titleStadistics p {
  font-size: 25px;
}
#adminContent .graficaEstadisticasStyle {
  background-color: white;
  width: 80%;
  height: auto;
}

#otherCategories {
  text-align: center;
}
#otherCategories h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 4%;
}
#otherCategories .productContainer {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-bottom: 8%;
}
#otherCategories .productContainer div {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
#otherCategories .productContainer div .productImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#otherCategories .productContainer div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#otherCategories .productContainer div p {
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  z-index: 2;
  margin: 0;
}

#footer {
  padding: 5%;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 25% 45% 15% 15%;
  align-items: center;
}
#footer #title {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 40px;
}
#footer #icons {
  display: grid;
  grid-template-columns: repeat(3, 40px);
}
#footer .icon {
  max-width: 30px;
}
#footer #paypal {
  max-width: 120px;
}

#coming_soon {
  width: 80%;
}

#coming_soon_list .soon {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}
#coming_soon_list .soon div {
  margin-right: 10px;
  display: block;
}
#coming_soon_list .soon div img {
  border-radius: 10px;
  height: 100%;
  width: 140px;
}

#cartContainer {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

#order-container {
  flex: 1;
}
#order-container h1 {
  margin-left: 110px;
}

#cartInfo {
  max-height: 400px;
  max-width: 700px;
  overflow-y: auto;
  padding: 10px;
}
#cartInfo::-webkit-scrollbar {
  width: 6px;
}
#cartInfo::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
#cartInfo::-webkit-scrollbar-track {
  background-color: transparent;
}

#order-info {
  padding: 10px;
  border-left: 1px solid #ccc; /* Añade un borde izquierdo para separar los contenidos */
  margin-right: 200px;
  padding-bottom: 200px;
  margin-top: 20px;
}

#cartDetails {
  background-color: #f0f0f0;
  padding: 75px;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 100px;
}
#cartDetails h2 {
  margin-bottom: 10px;
}
#cartDetails p {
  margin-bottom: 5px;
  width: 300px;
}
#cartDetails #totalCartPrice {
  font-weight: bold;
}
#cartDetails button {
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
#cartDetails button:hover {
  background-color: grey;
}
#cartDetails button a {
  text-decoration: none;
  color: white;
}

.product-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
  justify-content: space-between;
  border: 1px solid #ccc; /* Añade un borde para mayor claridad */
  padding: 20px; /* Ajusta el espaciado interno */
  margin: 10px 10px 10px 100px;
  max-width: 540px;
}
.product-container .product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-container .product-details .product-name {
  font-weight: bold;
  margin-bottom: 30px;
}
.product-container .product-details .product-price {
  margin-bottom: 5px;
}
.product-container .product-details .quantity-controls {
  display: flex;
  align-items: center;
}
.product-container .product-details .quantity-controls button {
  margin: 0 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.product-container .product-details .quantity-controls button:hover {
  transform: scale(1.1);
}
.product-container .product-details .quantity-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.product-container .product-details .quantity-controls input {
  padding: 5px;
  border: 1px solid #ccc; /* Añade un borde para mayor claridad */
  border-radius: 5px;
  text-align: center;
}
.product-container .product-details .total-price {
  margin-top: 20px;
}
.product-container .productImg {
  max-width: 150px;
  max-height: 200px;
}
.product-container .delete-btn {
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@keyframes fadeOutSlideUp {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
.fade-out-slide-up {
  animation: fadeOutSlideUp 1.2s ease-out;
}

#profile {
  display: flex;
  justify-content: center;
}
#profile #profile-div {
  width: 90%;
}
#profile #profile-div .user-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 40px;
}
#profile #profile-div .orders-div {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  background-color: #F5F5F5;
  border: 1px solid black;
}
#profile #profile-div .orders-div div {
  display: grid;
  place-items: center;
  height: 50px;
}
#profile #profile-div #popup {
  width: 30%;
}
#profile #profile-div #popup::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}
#profile #profile-div #popup-div {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
#profile #profile-div #btn-close-popup {
  margin-top: 5%;
}

.searchTheme {
  display: block;
  position: absolute;
  background-color: black;
  z-index: 1;
  width: 14%;
}

.orderContainer {
  background-color: white;
  margin-bottom: 2%;
}

#Containerfilters {
  display: flex;
  justify-content: center;
}
#Containerfilters #filters {
  width: 90%;
  display: grid;
  grid-template-columns: 25% 45% 15% 15%;
}
#Containerfilters #OrderDiv {
  padding-left: 20%;
}

@media (max-width: 1100px) {
  #outstanding {
    background-image: none;
    height: 100vh;
    display: grid;
    justify-content: center;
  }
  #outstanding #carousel {
    height: 400px;
    width: 80%;
  }
  #outstanding #carousel img {
    margin-left: 46%;
  }
  #outstanding #outstandingProducts {
    margin-left: 2%;
    width: 100%;
  }
  #section2 {
    display: grid;
  }
  #section2 #coming_soon {
    margin-bottom: 5%;
    margin-top: 5%;
  }
  #footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #footer div {
    margin-bottom: 2%;
  }
  #containerCategories #categoriesCenter .productsByCategory .seeMoreProducts {
    font-size: 10px;
  }
  .infoWhats {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #header #tamañoHeader ul li {
    margin: 0;
    font-size: 14px;
  }
  #header #tamañoHeader ul input {
    min-height: 20px;
    margin: 0 0px;
    padding: 0;
    width: 80%;
    font-size: 10px;
  }
  #cartContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    justify-items: center;
  }
  #cartContainer #order-container {
    max-width: 500px;
  }
  #cartContainer #order-container h1 {
    margin-left: 2% !important;
  }
  #cartContainer .product-container {
    padding: 20px;
    margin: 0;
    max-width: 540px;
  }
  #cartContainer #order-info {
    margin-top: 5%;
    margin-right: 0;
    padding: 0;
    margin-bottom: 20%;
    max-width: 500px;
  }
  #ls_container #background_ls {
    width: 0%;
  }
  #ls_container #login_signup {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: white;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
  }
  #AdminLogin div {
    width: auto;
  }
  #sidebar {
    width: 25% !important;
  }
  #invisibleSidebar {
    width: 25% !important;
  }
  #adminContent {
    width: 75% !important;
  }
  #adminContent .list div {
    display: grid;
    justify-content: center;
  }
  #buyProduct {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  #buyProduct #productContainer {
    position: relative;
    z-index: 1;
  }
  #buyProduct #productContainer #productImage {
    height: 430px;
    width: 310px;
    margin: 20% 0px 3% 6%;
    transition: transform 0.3s ease;
  }
  #buyProduct #productContainer #productImage:hover {
    transform: scale(1.2);
  }
  #buyProduct #productContainer #productDetails {
    display: none;
    position: absolute;
    display: flex;
    padding-right: 20%;
    background-color: rgb(217, 217, 217);
    z-index: 3;
    border-radius: 10px;
    border: 1px solid grey;
  }
  #buyProduct #productContainer #productDetails #productInfo {
    margin: 10% 0% 0% 20%;
  }
  #buyProduct #productContainer #productDetails #productInfo #productAmount {
    display: flex;
    align-items: center;
  }
  #buyProduct #productContainer #productDetails #productInfo #productAmount .amount-btn {
    margin: 5px 5px 10px 5px;
    padding: 8px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    transition: transform 0.3s ease;
  }
  #buyProduct #productContainer #productDetails #productInfo #productAmount .amount-btn:hover {
    transform: scale(1.1);
  }
  #buyProduct #productContainer #productDetails #productInfo #productAmount input {
    width: 8.15rem;
    text-align: center;
    border: none;
    padding: 8px;
    outline: none;
    background-color: whitesmoke;
  }
  #buyProduct #productContainer #productDetails #productInfo #buttons {
    display: flex;
    gap: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #buttons a #purchaseProduct {
    background-color: black;
    color: white;
    height: 50px;
    margin-top: 3px;
    padding: 0px 70px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  #buyProduct #productContainer #productDetails #productInfo #buttons a #purchaseProduct:hover {
    transform: scale(1.1);
  }
  #buyProduct #productContainer #productDetails #productInfo #buttons a #iconContainer {
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: white;
    padding: 14px;
    border-radius: 50%;
  }
  #buyProduct #productContainer #productDetails #productInfo #buttons a #iconContainer #productIcon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin: 1px;
  }
  #buyProduct #productContainer #productDetails #productInfo #buttons a #iconContainer:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -400px;
    height: 100%;
    width: 400px;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu .drawer {
    display: block;
    padding: 40px;
    max-height: 80vh;
    overflow-y: auto;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu .drawer::-webkit-scrollbar {
    width: 0px;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu .drawer .headerDrawer .closeDrawer {
    align-self: flex-end;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu .drawer .headerDrawer .closeDrawer:hover {
    background-color: #eee;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption1 #drawerInfo1 .drawer-element {
    margin: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption1 #drawerInfo1 .drawer-element .drawer-element-title {
    font-weight: bold;
    font-size: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 ::-webkit-scrollbar {
    width: 0;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 #drawerInfo2 .drawer-element {
    margin: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption2 #drawerInfo2 .drawer-element .drawer-element-title {
    font-weight: bold;
    font-size: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 ::-webkit-scrollbar {
    width: 0;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 #drawerInfo3 .drawer-element {
    margin: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #menu #drawerOption3 #drawerInfo3 .drawer-element .drawer-element-title {
    font-weight: bold;
    font-size: 20px;
  }
  #buyProduct #productContainer #productDetails #productInfo #drawerOptions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
  }
  #buyProduct #productContainer #productDetails #productInfo #drawerOptions .openDrawer {
    padding: 15px 100px;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  #buyProduct #productContainer #productDetails #productInfo #drawerOptions .openDrawer:hover {
    transform: scale(1.1);
  }
  .orders-div div {
    display: grid;
    place-items: center;
    height: 80px !important;
  }
}/*# sourceMappingURL=styles.css.map */