@import "variables.scss";
@import "mixins.scss";

* {
    font-family: $font-family-admin;
}

#sidebar {
    font-family: $font-family-admin;
    background-color: black;
    color: white;
    width: 15%;
    font-size: large;
    ul {
        list-style: none;
        flex-flow: column wrap;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
        li {
            padding: 3%;
        }
    }
}

#adminContent {
    background-color: $color-primary-admin;
    #titleAdmin {
        border-bottom: 2px solid black;
        font-weight: lighter;
    }
    #headerList {
        border-top: 0px;
    }
    .list {
        background-color: $color-list-admin;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        border-top: 2px solid black;
        div {
            text-align: center;
            input {
                transform: scale(2);
                accent-color: #a1a1a1;
            }
        }
    }
}

#header {
    background-color: black;
    height: 15%;
    ul {
        list-style: none;
        flex-flow: row;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
        li {
            padding: 1%;
            img {
                width: 10%;
            }
        }
    } 
}

#outstanding {
    #carousel {
        max-width: 200px;
        overflow: hidden;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    #outstandingList {
        background-color: lightgray;
        width: 20%;
        padding: 2%;
        a {
            text-decoration: none;
            color: black;
            div {
                border-radius: 2%;
                background-color: white;
                padding: 2%;
                margin-bottom: 2%;
                img {
                    width: 120px;
                    height: 162px;
                }
            }
        }
        
    }
}
  
  